<%- include('partials/header') %>


    <!-- breadcrumb-area-start -->
    <div class="it-breadcrumb-area it-breadcrumb-bg"
        style="background-image: url(/images/breadcrumb-img.png); background-size: cover; background-position: center center; background-repeat: no-repeat;">

        <div class="container">
            <div class="row ">
                <div class="col-md-12">
                    <div class="it-breadcrumb-content z-index-3 text-center">
                        <div class="it-breadcrumb-title-box">
                            <h3 class="it-breadcrumb-title">Fee Structure</h3>
                        </div>
                        <div class="it-breadcrumb-list-wrap">
                            <div class="it-breadcrumb-list">
                                <span><a href="index">home</a></span>
                                <span class="dvdr">//</span>
                                <span>Fee Structure</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area-end -->

    <section class="fees-structure">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-11">
                    <div class="table-wrap" id="no-more-tables">
                        <table class=" table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>S.No</th>
                                    <th> Class</th>
                                    <th> New Admission Fee </th>
                                    <th> Term I </th>
                                    <th> Term II </th>
                                    <th> Term III </th>
                                    <th> Term IV </th>

                                </tr>
                            </thead>
                            <tbody>
  <% if (admissions_fee.length > 0) { %>
    <% admissions_fee.forEach((row, index) => { %>
      <tr>
        <td data-title="S.No" align="center"><%= index + 1 %></td>
        <td data-title="class"><%= row.class_name %></td>
        <td data-title="Fee" class="numeric"><%= parseInt(row.admission_fee || 0).toLocaleString('en-IN') %></td>
        <td data-title="Term I" class="numeric"><%= parseInt(row.term1_fee || 0).toLocaleString('en-IN') %></td>
        <td data-title="Term II" class="numeric"><%= parseInt(row.term2_fee || 0).toLocaleString('en-IN') %></td>
        <td data-title="Term III" class="numeric"><%= parseInt(row.term3_fee || 0).toLocaleString('en-IN') %></td>
        <td data-title="Term IV" class="numeric"><%= parseInt(row.term4_fee || 0).toLocaleString('en-IN') %></td>
      </tr>
    <% }) %>
  <% } else { %>
    <tr>
      <td colspan="7" class="text-center">No data available</td>
    </tr>
  <% } %>
</tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer') %>