<%- include('partials/header') %>

  <main>
    <!-- hero-area-start -->
    <div class="it-hero-2-area it-hero-2-bg fix p-relative" data-background="/images/hero-bg-1.jpg">
      <div class="it-hero-2-shape-4">
        <img src="<%= homeContent.background_image || " Default Heading" %>" alt="" />
      </div>

      <div class="it-hero-2-funfact text-center d-none d-xl-block">
        <span class="theme"><i class="purecounter" data-purecounter-duration="1"
            data-purecounter-end="11">0</i>k+</span>
        <span>Total Student</span>
        <img src="<%= homeContent.funfact_image || " Default Heading" %>" alt="" />
      </div>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-6">
            <div class="it-hero-2-content">
              <div class="it-hero-2-title">
                <%- homeContent.main_heading || "Default Heading" %>
              </div>
              <div class="it-hero-2-text"> <%- homeContent.main_description || "Default description" %>
                  <div class="it-hero-2-btn-box d-flex align-items-center">
                    <a class="it-btn" href="gallery">
                      <span>
                        <%= homeContent.sub_heading || "Default Heading" %>
                          <svg width="17" height="14" viewBox="0 0 17 14" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-width="1.5"
                              stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M1 7.24023H16" stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10"
                              stroke-linecap="round" stroke-linejoin="round" />
                          </svg>
                      </span>
                    </a>
                    <div class="it-hero-2-play">
                      <a class="popup-video" href="<%= homeContent.youtube_link || " Default Heading" %>"><i
                          class="fas fa-play"></i></a>
                      <span>Watch Now</span>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4">
            <div class="it-hero-2-thumb-box p-relative">
              <div class="it-hero-2-thumb p-relative">
                <img src="<%= homeContent.hero_image || " Default Heading" %>" class="img-fluid" alt="" />
                <!-- <div class="it-hero-2-shape-1 d-none d-xl-block">
                    <img src="/images/hero/shape-2-6.png" alt="" />
                  </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- hero-area-end -->

    <!-- category-area-start -->
    <div class="it-category-area pt-120 pb-30">
      <div class="container">
        <div class="it-category-title-wrap p-relative mb-70">
          <div class="row align-items-end">
            <div class="col-12">
              <div class="it-category-title-box">
                <h4 class="it-section-title">Our Core Values</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <% values.forEach(val=> { %>
            <div class="col-xl-2 col-lg-4 col-md-6 mb-30">
              <div class="it-category-item text-center">
                <div class="it-category-icon">
                  <span>
                    <img src="<%= val.image %>" alt="">
                  </span>
                </div>
                <div class="it-category-text">
                  <h4 class="it-category-title">
                    <%= val.heading %>
                  </h4>
                </div>
              </div>
            </div>
            <% }) %>
        </div>
      </div>
    </div>

    <!-- category-area-end -->

    <!-- about-area-start -->
    <div class="it-about-area p-relative pt-185 pb-185">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-6">
            <div class="it-about-thumb-box p-relative">
              <div class="it-about-thumb-1 d-none d-xl-block">
                <img src="<%- content.home3_image %>" alt="" />
              </div>
              <div class="it-about-thumb-2 d-none d-xl-block">
                <img src="<%- content.home2_image %>" alt="" />
              </div>
              <div class="it-about-main-thumb text-xl-end text-center">
                <img src="<%- content.home1_image %>" alt="" />
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="it-about-right-box">
              <div class="it-about-title-box mb-20">
                <span class="it-section-subtitle">About Harvest School</span>
                <div class="it-section-title">
                  <%- content.main_heading %>

                </div>
              </div>
              <div class="it-about-text pb-10">
                <%- content.main_description %>
              </div>
              <div class="it-about-content-wrapper d-flex align-items-center justify-content-between pb-15">
                <div class="it-about-content">
                  <%- content.homeabout_heading %>
                    <%- content.homeabout_description %>
                </div>



              </div>
              <a class="it-btn" href="about-us">
                <span>
                  Read More
                  <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-width="1.5"
                      stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M1 7.24023H16" stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10"
                      stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- about-area-end -->

    <!-- video-area-start -->
    <div class="it-video-area it-video-bg p-relative fix pt-100 pb-95" data-background="/images/breadcrumb-2.jpg">
      <div class="it-video-shape-1 d-none d-lg-block">
        <img src="/images/shape-1-1.png" alt="" />
      </div>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-7 col-lg-7 col-md-9 col-sm-9">
            <div class="it-video-content">
              <!-- <span>Join Our New Session</span> -->
              <h3 class="it-video-title">Celebrations <br /></h3>
              <div class="it-video-button">
                <a class="it-btn" href="contact.ejs">
                  <span>
                    Join With us
                    <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-width="1.5"
                        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M1 7.24023H16" stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10"
                        stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-xl-5 col-lg-5 col-md-3 col-sm-3">
            <div class="it-video-play-wrap d-flex justify-content-start justify-content-md-end align-items-center">
              <div class="it-video-play text-center">
                <a class="popup-video play" href="<%- why.celebration_link %>"><i class="fas fa-play"></i></a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- video-area-end -->

    <!-- choose-area-start -->
    <div class="it-choose-area p-relative pt-180 pb-110">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-6 mb-30">
            <div class="it-choose-left">
              <div class="it-choose-title-box mb-30">
                <span class="it-section-subtitle">WHY CHOOSE US</span>
                <h4 class="it-section-title"><%- why.main_heading %></h4>
              </div>
              <div class="it-choose-text pb-15">
                <%- why.main_description %>
              </div>
              <div class="it-choose-content-box">
                <div class="row gx-20">
                  <div class="col-12 mb-20">
                    <div class="it-choose-content">
                      <h5><i class="fa-solid fa-circle-check"></i><%- why.vision_heading %></h5>
                      <%- why.vision_description %>
                    </div>
                  </div>
                  <div class="col-12 mb-20">
                    <div class="it-choose-content">
                      <h5><i class="fa-solid fa-circle-check"></i><%- why.mission_heading %></h5>
                      <%- why.mission_description %>
                    </div>
                  </div>
                  <div class="col-12 mb-20">
                    <div class="it-choose-content">
                      <h5><i class="fa-solid fa-circle-check"></i><%- why.values_heading %></h5>
                      <%- why.values_description %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 mb-30">
            <div class="it-choose-thumb-box text-center text-md-end">
              <div class="it-choose-thumb p-relative">
                <img src="<%- why.image %>" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- choose-area-end -->

    <!-- funfact-area-start -->
    <div class="it-funfact-area z-index-5">
      <div class="it-funfact-bg-wrap theme-bg" data-background="/images/funfact-bg.png">
        <div class="container">
          <div class="row gx-0">
            <% if (funFacts && funFacts.length> 0) { %>
              <% funFacts.forEach(f=> { %>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                  <div class="it-funfact-item d-flex align-items-center">
                    <div class="it-funfact-icon">
                      <span>
                        <img src="<%= f.image %>" alt="" />
                      </span>
                    </div>
                    <div class="it-funfact-content">
                      <h6>
                        <i class="purecounter" data-purecounter-duration="1"
                          data-purecounter-end="<%= f.number %>">0</i>
                        <%= f.heading.includes('%') ? '%' : '+' %>
                      </h6>
                      <span>
                        <%= f.heading %>
                      </span>
                    </div>
                  </div>
                </div>
                <% }) %>
                  <% } %>
          </div>
        </div>
      </div>
    </div>


    <!-- funfact-area-end -->

    <!-- event-area-start -->
    <div id="event" class="it-event-2-area p-relative pt-90 pb-90">
  <div class="container">
    <div class="it-event-2-title-wrap mb-60">
      <div class="row align-items-end">
        <div class="col-12">
          <div class="it-event-2-title-box text-center">
            <span class="it-section-subtitle-2">Our Events</span>
            <h2 class="it-section-title-3">Upcoming Events</h2>
          </div>
        </div>
      </div>
    </div>

    <% 
      function format12Hour(timeStr) { 
        if (!timeStr) return ''; 
        let [hours, minutes] = timeStr.split(':');
        hours = parseInt(hours); 
        const ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12 || 12;
        return `${hours}:${minutes} ${ampm}`;
      } 
    %>

    <div class="row">
      <% if(eventsList && eventsList.length) { %>
        <% eventsList.slice(0,3).forEach(event => { 
            const dateObj = new Date(event.event_date);
            const day = dateObj.getDate();
            const month = dateObj.toLocaleString('default', { month: 'short' });
            const cleanName = event.event_name.replace(/<[^>]*>?/gm, '').toLowerCase().replace(/ /g, '-');
        %>
        <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
          <div class="it-event-2-item-box d-flex flex-column h-100">
            <div class="it-event-2-item d-flex flex-column h-100">
              
              <!-- Event Thumbnail -->
              <div class="it-event-2-thumb fix">
                <a href="/blog-view/<%= cleanName %>">
                  <img src="<%= event.image1 || '/images/default-event.png' %>" alt="<%- event.event_name %>" />
                </a>
                <div class="it-event-2-date">
                  <span>
                    <i><%= day %></i> <br />
                    <%= month %>
                  </span>
                </div>
              </div>

              <!-- Event Content -->
              <div class="it-event-2-content flex-grow-1 d-flex flex-column">
                
                <!-- Scrollable Title -->
                <h4 class="it-event-2-title scrollable-text">
                  <a href="/blog-view/<%= cleanName %>"><%- event.event_name %></a>
                </h4>

                <!-- Scrollable Description -->
                <div class="it-event-2-text scrollable-text">
                  <%- event.title %>
                </div>

                <!-- Time & Location -->
                <div class="it-event-2-meta mt-auto">
                  <% if(event.start_time && event.end_time){ %>
                    <span><i class="fa-light fa-clock"></i> Time: <%= format12Hour(event.start_time) %> to <%= format12Hour(event.end_time) %></span>
                  <% } %>
                  <% if(event.location){ %>
                    <span><i class="fa-light fa-location-dot"></i> Location: <%- event.location %></span>
                  <% } %>
                </div>

              </div>
            </div>
          </div>
        </div>
        <% }) %>

        <!-- Read More Button -->
        <div class="col-12 text-center mt-4">
          <!-- <a href="/event-blog" class="btn btn-primary">Read More</a> -->
           <a class="it-btn" href="/event-blog">
                <span>
                  Read More
                  <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-width="1.5"
                      stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M1 7.24023H16" stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10"
                      stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </span>
              </a>
        </div>

      <% } else { %>
        <div class="col-12 text-center">
          <p>No upcoming events available.</p>
        </div>
      <% } %>
    </div>
  </div>
</div>

<style>
/* All event boxes same height */
.it-event-2-item-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Scrollable title and description */
.scrollable-text {
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scrollable-text::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* Limit title height */
.it-event-2-title.scrollable-text {
  max-height: 50px; 
  margin-bottom: 5px;
}

/* Limit description height */
.it-event-2-text.scrollable-text {
  max-height: 70px; 
  margin-bottom: 5px;
}

/* Ensure event content grows and pushes meta to bottom */
.it-event-2-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.it-event-2-meta {
  margin-top: auto;
}
</style>

    <!-- event-area-end -->

    <!-- Swiper slide / gallery section -->

    <div class="swiper mySwiper">
      <div class="it-event-2-title-box text-center">
        <span class="it-section-subtitle-2"> Learning </span>
        <h2 class="it-section-title-3">Beyond Classrooms</h2>
      </div>

      <div class="swiper-wrapper">
        <% if (events && events.length> 0) { %>
          <% events.forEach((event, index)=> { %>
            <div class="swiper-slide">
              <% if (event.image) { %>
                <img src="<%= event.image %>" alt="Slide <%= index + 1 %>" />
                <% } else { %>
                  <img src="/images/default-slide.jpg" alt="Slide <%= index + 1 %>" />
                  <% } %>
                    <div class="slide-overlay">
                      <%= event.title || '—' %>
                    </div>
            </div>
            <% }) %>
              <% } else { %>
                <!-- Fallback if no events -->
                <div class="swiper-slide">
                  <img src="/images/default-slide.jpg" alt="No events" />
                  <div class="slide-overlay">No events yet</div>
                </div>
                <% } %>
      </div>

      <!-- Pagination Dots -->
      <div class="swiper-pagination"></div>
    </div>

    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 30,
        loop: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        autoplay: {
          delay: 5000,
          disableOnInteraction: false,
        },
      });
    </script>


    <!-- video-area-start -->
    <div class="it-video-2-area it-video-2-bg p-relative pt-120 pb-80" data-background="/images/bg-5-1.jpg">

      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-6">
            <div class="it-video-2-left">
              <div class="it-video-2-title-box mb-10">
                <span class="it-section-subtitle-5"><i class="fa-light fa-book"></i> Fun Classes</span>
                <h4 class="it-section-title-5"><%- fun.heading %></h4>
              </div>
              <div class="it-video-2-text mb-30">
                <%- fun.description %>
              </div>
              <div class="it-video-2-button">
                <a class="it-btn-yellow radius" href="dance.ejs">
                  <span>
                    Find Events
                    <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-width="1.5"
                        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M1 7.24023H16" stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10"
                        stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="it-video-2-thumb p-relative">
              <img src="<%= fun.image %>" alt="" />
              <div class="it-video-2-play">
                <a class="popup-video" href="<%= fun.youtube_link %>"><i class="fas fa-play"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- video-area-end -->

    <!-- testimonial-area-start -->
    <!-- <div
        class="it-testimonial-area it-testimonial-ptb it-testimonial-bg fix p-relative"
      >
        <div class="container">
          <div class="it-testimonial-title-wrap mb-60">
            <div class="row align-items-end">
              <div class="col-xl-6 col-lg-8 col-md-9 col-sm-8">
                <div class="it-testimonial-title-box">
                  <span class="it-section-subtitle">testimonial</span>
                  <h4 class="it-section-title">
                    Creating A Community Of Life Long
                    <span class="p-relative z-index"> Learners. </span>
                  </h4>
                </div>
              </div>
              <div class="col-xl-6 col-lg-4 col-md-3 col-sm-4">
                <div class="it-testimonial-arrow text-end"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <div class="it-testimonial-slide-wrap p-relative">
                <div class="row align-items-center">
                  <div class="col-xl-2 col-lg-2 col-md-3">
                    <div class="it-testimonial-slide-nav-active text-center">
                      <div class="it-testimonial-nav-item">
                        <div class="it-testimonial-nav-thumb">
                          <img src="/images/avatar-1.png" alt="" />
                        </div>
                      </div>
                      <div class="it-testimonial-nav-item">
                        <div class="it-testimonial-nav-thumb">
                          <img src="/images/avatar-1.png" alt="" />
                        </div>
                      </div>
                      <div class="it-testimonial-nav-item">
                        <div class="it-testimonial-nav-thumb">
                          <img src="/images/avatar-1.png" alt="" />
                        </div>
                      </div>
                      <div class="it-testimonial-nav-item">
                        <div class="it-testimonial-nav-thumb">
                          <img src="/images/avatar-1.png" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9">
                    <div class="it-testimonial-slide-active">
                      <div class="it-testimonial-slide-item">
                        <div class="it-testimonial-slide-info">
                          <h4 class="it-testimonial-user-name">
                            Courtney Henry
                          </h4>
                          <span>happy customer</span>
                          <p>
                            “Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore
                            eu fugiat nulla pariatur.
                          </p>
                        </div>
                      </div>
                      <div class="it-testimonial-slide-item">
                        <div class="it-testimonial-slide-info">
                          <h4 class="it-testimonial-user-name">
                            Courtney Henry
                          </h4>
                          <span>happy customer</span>
                          <p>
                            “Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore
                            eu fugiat nulla pariatur.
                          </p>
                        </div>
                      </div>
                      <div class="it-testimonial-slide-item">
                        <div class="it-testimonial-slide-info">
                          <h4 class="it-testimonial-user-name">
                            Courtney Henry
                          </h4>
                          <span>happy customer</span>
                          <p>
                            “Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore
                            eu fugiat nulla pariatur.
                          </p>
                        </div>
                      </div>
                      <div class="it-testimonial-slide-item">
                        <div class="it-testimonial-slide-info">
                          <h4 class="it-testimonial-user-name">
                            Courtney Henry
                          </h4>
                          <span>happy customer</span>
                          <p>
                            “Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore
                            eu fugiat nulla pariatur.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    <!-- testimonial-area-end -->
  </main>


  <%- include('partials/footer') %>