<%- include('partials/header') %>
   <main>

      <!-- breadcrumb-area-start -->
      <div class="it-breadcrumb-area it-breadcrumb-bg"
         style="background-image: url(/images/breadcrumb-img.png); background-size: cover; background-position: center center; background-repeat: no-repeat;">

         <div class="container">
            <div class="row ">
               <div class="col-md-12">
                  <div class="it-breadcrumb-content z-index-3 text-center">
                     <div class="it-breadcrumb-title-box">
                        <h3 class="it-breadcrumb-title">TEACHER Details</h3>
                     </div>
                     <div class="it-breadcrumb-list-wrap">
                        <div class="it-breadcrumb-list">
                           <span><a href="index">home</a></span>
                           <span class="dvdr">//</span>
                           <span>Teacher Details</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- breadcrumb-area-end -->

      <!-- teacher-details-area-start -->
      <div class="it-teacher-details-area pt-120 ">
         <div class="container">
            <% messages.forEach(msg=> { %>
               <div class="it-teacher-details-wrap">
                  <div class="row">
                     <div class="col-xl-3 col-lg-3">
                        <div class="it-teacher-details-left">
                           <div class="it-teacher-details-left-thumb">
                              <img src="<%= msg.image ? msg.image : 'assets/img/team-placeholder.jpg' %>"
                                 alt="<%= msg.name %>">
                           </div>
                           <div class="it-teacher-details-left-social text-center">
                              <% if(msg.social_facebook){ %>
                                 <a href="<%= msg.social_facebook %>" target="_blank"><i
                                       class="fab fa-facebook-f"></i></a>
                                 <% } %>
                                    <% if(msg.social_twitter){ %>
                                       <a href="<%= msg.social_twitter %>" target="_blank"><i
                                             class="fab fa-twitter"></i></a>
                                       <% } %>
                                          <% if(msg.social_skype){ %>
                                             <a href="skype:<%= msg.social_skype %>?call"><i
                                                   class="fab fa-skype"></i></a>
                                             <% } %>
                                                <% if(msg.social_linkedin){ %>
                                                   <a href="<%= msg.social_linkedin %>" target="_blank"><i
                                                         class="fab fa-linkedin-in"></i></a>
                                                   <% } %>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-9 col-lg-9">
                        <div class="it-teacher-details-right">
                           <div class="it-teacher-details-right-title-box">
                              <h4>
                                 <%= msg.name.replace(/<\/?[^>]+(>|$)/g, "") %>
                                    ( <%= msg.role.replace(/<\/?[^>]+(>|$)/g, "") %> )
                              </h4>
                           </div>

                           <% if(msg.message_to_students){ %>
                              <div class="it-teacher-details-right-content mb-30">
                                 <%- msg.message_to_students %>
                              </div>
                              <% } %>

                                 <% if(msg.message_to_staff){ %>
                                    <div class="it-teacher-details-right-content mb-0">
                                       <%- msg.message_to_staff %>
                                    </div>
                                    <% } %>
                        </div>
                     </div>

                  </div>
               </div>
               <% }) %>
         </div>
      </div>
      <!-- teacher-details-area-end -->

      <!-- team-area-start -->
      <div class="it-team-3-area it-team-3-style-2 p-relative z-index pt-100 pb-90">
   <div class="container">
      <div class="row">
         <div class="col-xl-12">
            <div class="it-testimonial-5-title-box text-center mb-30">
               <h4 class="it-section-title-5">meet our expert teacher</h4>
            </div>
         </div>
      </div>
      <div class="row">
         <% messages.forEach(msg => { %>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
               <div class="it-team-3-item text-center">
                  <div class="it-team-3-thumb fix">
                     <img src="<%= msg.image %>" alt="<%= msg.name.replace(/<\/?[^>]+(>|$)/g, "") %>">
                  </div>
                  <div class="it-team-3-content">
                     <div class="it-team-3-author-box">
                        <h4 class="it-team-3-title">
                           <a href="#">
                              <%= msg.name.replace(/<\/?[^>]+(>|$)/g, "") %>
                           </a>
                        </h4>
                        <span>
                           <%= msg.role.replace(/<\/?[^>]+(>|$)/g, "") %>
                        </span>
                     </div>
                  </div>
               </div>
            </div>
         <% }) %>
      </div>
   </div>
</div>

      <!-- team-area-end -->

   </main>
   <%- include('partials/footer') %>